.pricebook-filter-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column;
  padding-top: 1.5rem;
  align-items: flex-start;
  justify-content: center;

  .filter-wrapper-top {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1.5rem;

    .state-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      cursor: pointer;
      font-weight: bold;

      .state-name {
        color: var(--gray-800);
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 12px;
        border-radius: 50%;
      }
    }
  }

  .filter-wrapper-bottom {
    margin-left: auto;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    gap: 1rem;
  }
}

.borrador-state-amount {
  background-color: var(--gray-300);
}

.consolidado-state-amount {
  background-color: var(--secondary-yellow);
}

.noconsolidado-state-amount {
  background-color: var(--primary);
}

.vigente-state-amount {
  background-color: var(--secondary-green);
}

.vencido-state-amount {
  background-color: black;
}