.dialog-wrapper {
  height: auto;
  color: black !important;

  .__title,
  .__subtitle {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .__title {
    font-size: 20px;
  }

  .__subtitle {
    font-size: 16px;
    color: var(--gray-800);
  }
}