.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;

  .data-table {
    width: 95%;
    height: auto;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.1);
    color: var(--gray-800);

    .table-row {
      &:hover {
        background-color: var(--gray-200);
      }

      &:nth-child(odd) {
        background-color: var(--gray-100);

        &:hover {
          background-color: var(--gray-200);
        }
      }
    }
  }
}

.link-row {
  text-decoration: none;
  color: var(--gray-800);
  font-weight: 600;
}