.primary-button-wrapper {
  font-size: 1rem;
  height: 2.5rem;
  padding: 0 1.5em;
  color: var(--primary);
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 6%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid var(--primary);
  margin: 0;
  cursor: pointer;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  min-width: 64px;

  &:hover {
    background-color: var(--secondary-red-dark);
    box-shadow: 0 3px 6px #00000038;
    color: white;
    transition: all 150ms ease-in;
  }

  .__link {
    text-decoration: none;
    color: inherit;
    display: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .__text {
    margin: 0;
    font-family: Ubuntu, Roboto, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
  }

  .__icon {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
  }
}