.distributors-list-container {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: auto;
  padding: 0;
  overflow-y: scroll;

  li {
    width: 100%;
    border-bottom: 1px dotted var(--gray-300);
    position: relative;

    button {
      width: 30px;
      height: 30px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: none;
      background-color: white;
      color: var(--primary);
      box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
      cursor: pointer;
      top: 50%;
      transform: translate(0, -50%);
      right: 10px;
    }
  }
}