.catalog-concept-table {
    width: 95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding: 0.5rem;
    border-radius: 16px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.1);
  
    .data-grid {
      width: 100%;
      color: var(--gray-800);
      border: none;
  
      .table-row {
        &:hover {
          background-color: var(--gray-200);
        }
      }
    }
  }